*.log
*.class
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/


*.iml
*.ipr
*.iws
.idea/

.dart_tool/
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

lib/generated_plugin_registrant.dart

app.*.symbols

app.*.map.json

!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

google-services.json
GoogleService-Info.plist